{% extends 'base.html' %}
{% load staticfiles %}
{% block main %}
<script type="text/javascript">
function createArticle() {
window.location="/create_article/";
}
</script>
<div>
    <label style="float: right; margin-right:50px; font-size:20px;">Welcome {{user}}</label>
    <button type="button" onclick="createArticle()"
            style="margin-left:20px;color: #ffffff; background-color: #f69924;
            border-color:#f69924;" class="btn btn-primary"> Create Article</button>
</div>
    {% for article in articles %}
        <img src="{% static 'images/golisano.jpg' %}" style="height:300px; width:300px"/>
        <br>
        <label>Article by: {{ article.author }}</label>
        <br>
        <br>
        <label>Title: {{ article.article_title}}</label>
        <br>
        <br>
        {{ article.article_content }}
    {% endfor %}
{% endblock %}
